body {
    margin: 0;
    height: 100%;
}

#adminmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#admin_wrapper {
    background-color: rgb(7, 176, 7, 0.6);  
    padding: 10px;
    border: rgb(226, 222, 222) 2px solid;
    border-radius: 10px;
}

#admin_wrapper h3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
}   

#admin_wrapper .itembtn,
#admin_wrapper .discountbtn {
    color: white;
    font-weight: bold;
    font-size: 30px;    
    padding: 15px;
    margin: 20px;
    border: white 1px solid;
    border-radius: 15px;
    transition: 0.3s ease;
    margin-bottom: 40px;
}

/* Add Items Button */
#admin_wrapper .itembtn {
    background-color: rgb(7, 176, 7);
}

#admin_wrapper .itembtn:hover {
    background-color: rgba(7, 176, 7, 0.6);
    transform: scale(1.05);
}

/* Discounts Button */
#admin_wrapper .discountbtn {
    background-color: rgb(190, 209, 22);
}

#admin_wrapper .discountbtn:hover {
    background-color: rgba(190, 209, 22, 0.6);
    transform: scale(1.05);
}

div[disabled] {
    pointer-events: none;
    opacity: 0;
}    

