body {
    margin: 0;
    height: 100%;
}

#adminmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#admin_wrapper {
    width: fit-content;
    background-color: rgb(7, 176, 7, 0.6);  
    padding: 10px;
    border: rgb(226, 222, 222) 2px solid;
    border-radius: 10px;
}

#admin_wrapper h3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
}   

#admin_wrapper .itembtn {
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: fit-content;
    background-color: rgb(7, 176, 7);
    border: white 1px solid;
    border-radius: 15px;
    margin-right: 100px;
    margin-bottom: 120px;
    transition: 0.3s ease;
}

#admin_wrapper .itembtn:hover {
    background-color: rgb(7, 176, 7, 0.6);
    transform: scale(1.1);
}

#admin_wrapper .discountbtn {
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: fit-content;
    background-color: rgb(190, 209, 22);
    border: white 1px solid;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 120px;    
    transition: 0.3s ease;
}

#admin_wrapper .discountbtn:hover {
    background-color: rgb(190, 209, 22, 0.6);
    transform: scale(1.1);
}



div[disabled] {
    pointer-events: none;
    opacity: 0;
}    

