.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: rgb(7, 176, 7, 0.6);  
    border: rgb(206, 200, 200) 2px solid;
    border-radius: 15px;
}

.wrapper h3 {
    color: white;
    font-size: 40px;
}

.wrapper p {
    color: white;
    font-size: 25px
}

.inputbox {
    margin-bottom: 20px;
}

.savebtn {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(7, 176, 7, 0.6); 
    transition: 0.3s ease;
}

.savebtn:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(7, 176, 7); 
}