#footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(7, 176, 7);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.buy {
    background-color: rgb(10, 209, 10) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 10px !important;
    border: 1px solid white !important;
    border-radius: 10px !important; 
}
.buy:hover {
    background-color: rgb(6, 185, 6) !important;
    cursor: pointer;
}